* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    padding: 50px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.principles-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
}

.principle {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 20%;
}

.content {
    padding: 20px;
}

.copyleft-icon {
    display: inline-block;
    transform: scaleX(-1);
    margin-right: 5px; /* Optional: to add space between the icon and text */
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
